.inp {
	width: 25px;
	border-radius: 5px;
}
.maze{
	float:left;
}
.maze_tb{
	float: left;
}
.load{
	position: absolute; 
	height: 20px; 
	left: 7px; 
	top: 550px; 
	width: 500px; 
	border: black 1px solid;
	text-align: center;	
}

.loadc{
	position: absolute; 
	left: 7px; 
	top: 580px;
	display: none;
}